<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PTSLibrary.Properties.Settings.PTSConnectionstring"
            connectionString="Data Source=AMON\SQLEXPRESS;Initial Catalog=sepa_pts;Integrated Security=True" />
    </connectionStrings>
</configuration>